* {
    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-bg {
    background-color: #2ec1ac
}

.custom-bg:hover {
    background-color: #279e8c
}

.swiper {
    height: 375px;
}

.swiper-slide img {
    height: 100%;
    object-fit: cover;
}

.swiper-wrapper {
    height: auto;
}